@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #fff;
}
h1 {
    font-size: 25px;
}
body {
    background: url('../icons/donate.jpg') no-repeat center center fixed;
    background-size: cover;
}
.donor_card {
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    background-color: #2a3e36;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card1, .card2 {
    display: flex;
    flex-direction: column;
}
.inputs input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    color: black;
    font-weight: bold;
}
.gender {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.radio {
    width: 100%;
    display: flex;
}
.radio label {
    margin-right: 100px;
}
button {
    color: black;
    background-color: #c2a83e;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover {
    scale: 1.2;
}
.back {
    width: 100%;
    display: flex;
    align-items: center;
}
.back img {
    cursor: pointer;
    height: 60px;
    margin-right: 32%;
    transition: 0.3s ease-in-out;
}
.back img:hover {
    cursor: pointer;
    height: 60px;
    margin-right: 32%;
    scale: 1.2;
}

