@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    color: #fff;
}
h1 {
    font-size: 25px;
}
body {
    background: url('../icons/donate.jpg') no-repeat center center fixed;
    background-size: cover;
}
.donor_card,.Organization_card  {
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 1%;
    background-color: #2a3e36;
    padding: 20px 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card1, .card2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.card1 input,.card2 input {
    height: 45px;
    width: 290px;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    color: black;
    font-weight: bold;
}
.gender, .donor_type {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}
.radio {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Register_button {
    color: black;
    background-color: #c2a83e;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Register_button:hover {
    scale: 1.2;
}
.gender button{
    border: none;
    background-color: transparent;
}
.file_upload {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.file_upload label {
    margin-right: 20px;
}
.radio input {
    width: 20px;
    height: 20px;
}
.back {
    width: 100%;
    display: flex;
    align-items: center;
}
.back img {
    cursor: pointer;
    height: 60px;
    margin-right: 32%;
}
.donor_card button {
    width: 20%;
}
.Organization_card button {
    width: 20%;
}
