@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 25px;
}
body {
    background: url('../icons/donate.jpg') no-repeat center center fixed;
    background-size: cover;
}
.donor_card,.Organization_card  {
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 1%;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card1, .card2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.card1 input,.card2 input {
    height: 45px;
    width: 290px;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
}
.gender {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}
.radio {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button {
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 7px;
    margin-top: 10px;
}
button:hover {
    background-color: green;
}
.gender button{
    border: none;
    background-color: transparent;
}
.file_upload {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.file_upload label {
    margin-right: 20px;
}
.radio input {
    width: 20px;
    height: 20px;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back img {
    cursor: pointer;
    height: 60px;
    margin-right: 970%;
}
.back h1 {
    position: fixed;
}
