#page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  background-color: #e0eec6;
  border-radius: 20px;
  width: 97%;
  margin-left: 3%;
  z-index: -1;
}
#page > * {
  z-index: 1;
}
.full-row-item {
  flex-basis: 100%;
}

#info-panel {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 97%;
}

.info-field {
  display: flex;
  flex-direction: row;
}

.back-arrow {
  width: 6vh;
  height: 6vh;
  background-color: rgba(
    var(--button-red),
    var(--button-green),
    var(--button-blue),
    0.5
  );
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30vh;
  margin: 2vh;
  color: black;
}

.back-arrow:hover {
  background-color: var(--button-color);
}

.back-arrow:active > i {
  margin-left: -15%;
}

#container-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--secondary-color);
}

.back-arrow i {
  font-size: 4vh;
}

:root {
  --button-color: rgb(194, 168, 62);
  --button-red: 194;
  --button-green: 168;
  --button-blue: 62;
  --secondary-color: rgb(124, 169, 130);
  --secondary-red: 124;
  --secondary-green: 169;
  --secondary-blue: 130;
}

#info-table {
  justify-content: left;
  flex-grow: 1;
}
