:root {
  --button-color: rgb(194, 168, 62);
  --button-red: 194;
  --button-green: 168;
  --button-blue: 62;
  --secondary-color: rgb(124, 169, 130);
  --secondary-red: 124;
  --secondary-green: 169;
  --secondary-blue: 130;
}

body {
  margin-left: 30%;
}

/* #filtration-fields {
  position: relative;
  flex-basis: 20%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
} */

/* .post {
  align-items: center;
  border: 2px solid black;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  transition: transform 0.1s;
} */

/* .posts {
  perspective: 1000px;
  perspective-origin: center center;
  margin: auto;
  padding: 20px;
} */

.description {
  white-space: normal;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.filter-group > * {
  margin-top: 3vh;
}

.invisible {
  visibility: hidden;
  max-height: 0px;
  margin: 0px;
  max-width: 0%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.invisible > * {
  visibility: hidden;
  max-height: 0px;
  margin: 0px;
  max-width: 0%;
  margin: 0px;
  padding: 0px;
}

.probar {
  position: fixed;
  width: 100%;
  height: 0.5vh;
  z-index: 40;
  margin: 0px;
  padding: 0px;
}
