:root {
  --button-color: rgb(194, 168, 62);
  --button-red: 194;
  --button-green: 168;
  --button-blue: 62;
  --secondary-color: rgb(124, 169, 130);
  --secondary-red: 124;
  --secondary-green: 169;
  --secondary-blue: 130;
}

#page {
  justify-content: start;
  background-color: #e0eec6;
  width: 100%;
  margin-left: 3%;
  z-index: 0;
  flex-wrap: wrap;
  /* border-radius: 20px; */
  width: 97%;
  margin-left: 3%;
  margin-top: 10.7vh;
}

.invisible {
  visibility: hidden;
  max-height: 0px;
  margin: 0px;
  max-width: 0%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  position: fixed;
}

.invisible > * {
  visibility: hidden;
  max-height: 0px;
  margin: 0px;
  max-width: 0%;
  margin: 0px;
  padding: 0px;
}

.probar {
  position: fixed;
  width: 100%;
  height: 0.5vh;
  z-index: 40;
  margin: 0px;
  padding: 0px;
}
