/*Sidebar code*/

.sidebar {
  height: 100%;
  width: 3%;
  position: fixed;
  /* left: 10px; */
  /* top: 3rem; */
  /* background-image: linear-gradient(to bottom,
            rgb(9, 90, 151),
            rgb(42, 83, 136)); */
  background-color: #243e36;
  padding: 10px 0px;
  /* border-radius: 10px; */
  z-index: 30;
  transition: width 0.5s ease;
  color: #ffffff;
}

.sidebar-shadow {
  /* box-shadow: 5px 0 5px rgb(124, 169, 130, 0.5); */
}

.sidebar > * {
  white-space: nowrap;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin: 0 10px 10px 10px;
  border: white;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  overflow: hidden;
  width: 95%;
}

.sidebar-nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s, color 0.3s;
}

.sidebar-nav ul li a:hover {
  background-color: #555;
  color: #fff;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade {
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

.sidebar-button {
  position: relative;
  padding: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.6vh;
  align-items: center;
  aspect-ratio: 1/1;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
}

.logo {
  width: 77%;
  overflow: hidden;
  margin-right: 3vh;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.back-arrow {
  width: 6vh;
  height: 6vh;
  background-color: rgba(
    var(--button-red),
    var(--button-green),
    var(--button-blue),
    0.5
  );
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30vh;
  margin: 2vh;
  color: black;
  position: absolute;
}

.back-arrow:hover {
  background-color: var(--button-color);
}

.back-arrow:active > i {
  margin-left: -15%;
}

.back-arrow i {
  font-size: 4vh;
}

:root {
  --menu-color: #243e36;
  --button-color: rgb(194, 168, 62);
  --button-red: 194;
  --button-green: 168;
  --button-blue: 62;
  --secondary-color: rgb(124, 169, 130);
  --secondary-red: 124;
  --secondary-green: 169;
  --secondary-blue: 130;
}

#sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

/* End of sidebar */

/* Topbar code */

.topbar {
  /* background-image: linear-gradient(to bottom,
            rgb(9, 90, 151),
            rgb(42, 83, 136)); */
  margin-left: 3%;
  background-color: var(--menu-color);
  min-height: 10.7vh;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  position: fixed;
  width: 97%;
}
/* .topbar > * {
  margin-right: 2vw;
} */

.topbar select {
  border-radius: 0px;
  background-color: white;
}

.topbar input {
  border-radius: 0px;
  background-color: white;
}

.topbar ul {
  list-style: none;
  margin: 0px;
}

.topbar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.topbar a {
  /* width: 100%; */
  padding-bottom: 0%;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;

  /* margin: auto; */

  transition: 0.3s ease-in-out;
  width: auto;
}
.topbar a:hover {
  color: #c2a83e;
}

/* Topbar code */

body {
  margin: 0px;
}

#page-header {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-left: 37%;
}
.profile-user-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.profile-user-photo i {
  margin-top: 20px;
}
.link {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}